/* estilo de horarios */
.body-h{
    background-color:beige;
}
.tabla{
    margin-left: 280px;
    margin-bottom: 300px;
    margin-right: 280px;
    margin-top: 150px;
}
.hora{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
}
.Dias{
    font-size: 200%;
    font-weight: bold;
}
.Horario{
    font-family: cursive;
}
.L,.M,.MI,.J,.V{
    padding: 20px;
    background-color: lightblue;
}
.Lunes,.Martes,.Miercoles,.Jueves,.Viernes{
    padding: 20px;
    background-color: lightblue;
} /* estilo de header */
.Header{
    height: 150px;
    width: 100%;
    background-color: rgb(125, 255, 168);
}
.H1{
    text-align: center;
}
.IMG{
    margin-bottom: 0px;
    margin-left: 10px;
}
.ul{
    list-style: none;
}
/* estilo footer */
.Footer{
    width: 100%;
    height: 100px;
    background-color: rgb(125, 255, 168);
}
.Pf{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* estilo de formulario */
.formulario{
    margin: 0;
    height: 160px;
    background-color: rgb(125, 255, 168);
    border-style:groove;
}
.boton{
    margin-left: 400px;
    padding-right: 200px;
    padding-left: 200px;
}
.N{
    margin-bottom: 10px;
    margin-top: 10px;
}
.A{
    margin-bottom: 10px;
}
.Num{
    margin-bottom: 10px;
}
.E{
    margin-bottom: 10px;
}